body {
background-color: #001425;
}

a {
color: #70d2ff;
text-decoration: none;
align-content: right;
}

p {
font-size: 24px;
}

/* header style begins here */
header {
font-family: Georgia, 'Times New Roman', Times, serif;
background-color: #001425;
color: #ffffff;
}

h1 {
font-size: 60px;
text-indent: 10px;
margin-top: 30px;
margin-bottom: 0px;
}

/* navigation links formating */
header nav {
margin-right: 20px;
float: right;
font-family:Georgia, 'Times New Roman', Times, serif;
font-size: 20px;
}

header nav ul li {
display: inline-block;
margin-right: 20px;
}

/* main image content */
.main_image {
height: 600px;
width: 100%;
margin-bottom: 50px;
}

/* main/box sections */
.float-left {
float: left;
margin-right: 25px;
}
  
main {
margin: 45px;
}
  
.box {
margin-bottom: 30px;
padding: 10px;
height: 200px;
border:groove;
border-radius: 10px;
font-family: Georgia, 'Times New Roman', Times, serif;
background-color: #000000;
color: #ffffff;
width: 100%;
}
  
.img {
overflow: clip;
border: #000000;
border-radius: 10px;
}
  
  /* footer section style begins here */
footer {
padding: 30px;
clear: both;
font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
text-align: center;
color: white;
}
